html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#main {
    position:absolute;
    height:100%;
    width:100%;
    overflow-y:scroll;
    top:0px;
    left:0px;
}

#console {
    color:black;
    background:white;
    box-sizing:border-box;
    font-family:monospace;
    font-size:14px;
    font-style:normal;
    padding:5px;
    width:100%;
}

#console #results {
    color:black;
    background:white;
    box-sizing:border-box;
    font-family:monospace;
    font-size:14px;
    font-style:normal;
    padding-bottom:50px;
}

#console #results a {
    color:black;
}

#console #results #results_2,
#console #results #results_2 a {
    color:#565656;
}

#console input {
    color:black;
    background:#efefef;
    font-family:monospace;
    font-size:14px;
    font-style:normal;
    border:0px;
    padding:0px;
    margin:0px;
    width:100%;
}

#playbar {
    background:grey;
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    width:100%;
    z-index:1000;
}

#player_box {
    position:absolute;
    top:-1000px;
}

#playbar .btn {
    cursor:pointer;
    float:left;
    height:50px;
    width:50px;
    top:-10px;
    position:relative;
    margin:5px;
    font-family:monospace;
    border-radius:25px;
    box-sizing:border-box;
    padding:0px;
    background:#efefef;
    position:relative;
    border:2px solid grey;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    line-height:50px;
    z-index:1003;
}

#playbar #progress_block {
    position:absolute;
    left:0px;
    box-sizing:border-box;
    padding-left:70px;
    padding-right:15px;
    top:15px;
    width:100%;
    height:20px;
}

#playbar #progress {
    background:#ababab;
    width:100%;
    height:20px;
    overflow:hidden;
    position:relative;
}

#playbar #progress #loaded {
    background:#efefef;
    height:20px;
    overflow:hidden;
    position:relative;
}

#playbar #progress .left {
    color:black;
    display:inline;
    left:5px;
    top:0px;
    line-height:20px;
    position:relative;
}

#playbar #progress .middle {
    color:black;
    display:inline;
    white-space:nowrap;
    left:-1000px;
    top:0px;
    line-height:20px;
    position:absolute;
}

#playbar #progress .right {
    color:black;
    display:inline;
    left:-1000px;
    top:0px;
    line-height:20px;
    position:absolute;
}

#playbar #progress #playing {
    width:0px;
    height:20px;
    background:#454545;
    overflow:hidden;
    top:0px;
    position:absolute;
}

#playbar #progress #loaded {
    background:rgba(255, 255, 255, 0.2);
    width:0px;
    height:20px;
    overflow:hidden;
    top:0px;
    position:absolute;
}

#playbar #progress #total {
    width:100%;
    height:20px;
    top:0px;
    position:absolute;
}

#playbar #progress #playing .left,
#playbar #progress #playing .middle,
#playbar #progress #playing .right {
    color:white;
}

#playbar #progress #search_overlay {
    background:transparent;
    cursor:crosshair;
    width:100%;
    height:20px;
    top:0px;
    left:0px;
    position:absolute;
    z-index:1001;
}

#playbar #progress #search_overlay .info {
    background:rgba(0, 0, 0, 0.6);
    color:white;
    position:absolute;
    left:0px;
    top:0px;
    height:20px;
    border-radius:5px;
    padding:0px 5px;
    line-height:20px;
}
